/*STYLE
1- GLOBAL
2- HEADER
3- MENU
4- FOOTER
*/

/*****************GLOBAL STRUCTURE****************/
body{
	margin:0;
	padding:0;
	background-color:#F8F8F8;
	font-family: 'Playfair Display', serif;
}

#content{
	width:1170px;
	min-height:700px;
	margin-left: auto;
	margin-right:auto;
}

#principale{
	width:1170px;
	min-height:100px;
}

aside{
	width: 200px;
}

article{
	margin:20px;

}
#col2a{
	width: 1170px;
	min-height:500px;
	background-color: white;
	float:left;

}

#pic_size{
	width:300px;
	height:300px;
	float:left;
	margin:30px;
}

article img{
	width:300px;
	height:300px;

}

#childhood{
	height:450px !important;
	background : transparent url(images/flower.jpg) left top no-repeat;
	overflow:hidden;
}
#braille{
	height:450px !important;
	background : white url(images/braille.jpg) left top no-repeat;
	overflow:hidden;
}
#adult{
	height:450px !important;
	background : white url(images/adult.jpg) center top no-repeat;
	overflow:hidden;

}
/***************FONT******************/
.trans1 { 
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.color, a,
		a:link
		a:visited
		a:active,
		a:hover{
	color:black;
}

.color a:hover{
	color:black;
	text-decoration:underline;
}

h1{
	color:black;
	font-size: 20px;
}

p{
	color:black;
	text-align:justify;
}

/*****************HEADER*******************/
header{
	min-height:650px;
	font-family: 'Playfair Display', serif;
	text-align:center;
	overflow: hidden;
	background : transparent url(images/portrait.jpeg) left top no-repeat;
}

header h1{
	color:black;
	font-size: 60px;
	
}

header p{
	color:black;
	text-align:center;
}

header a,
header a:link,
header a:visited{
	color:black;
	text-decoration:none;
}

header a:active,
header a:hover{
	color:white;

}

/****************MENU*****************/

nav#menu{
	width: 1170px;
	background-color:white;

}

ul,
li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}

nav#menu ul{
	margin:0;
	overflow:hidden;
}

nav#menu li{
	width: 1170px;
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
}

nav#menu a,
nav#menu a:link,
nav#menu a:visited,
nav#menu a:active,
nav#menu a:hover{
	width: 1170px;
	height:60px;
	line-height:60px;
	vertical-align:middle;
	color:black;
	text-decoration:none;
	font-size:20px;
	margin:0 50px;
	
}

nav#menu a:hover, nav#menu a.ici{

	text-decoration:underline;
}



/*****************FOOTER*****************/

footer{
	width:1170px;
	height:80px;
	background: url(../images/fond.png) left top repeat;
}

footer p{
	margin:0;
	height:80px;
	line-height:80px;
	color:#AF4F50;
	vertical-align: middle;
	font-family:georgia;
	
	text-align:center;
}


footer a,
footer a:link,
footer a:visited,
footer a:active,
footer a:hover{
	color: black;
	text-decoration:none;
	font-size:14px;
	font-family: 'Playfair Display', serif;
}

footer a:hover{
	text-decoration:underline;

}

/*media queries*/







